*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img{
    height: 60%;
    width: 75%;
    object-fit: cover;
    margin-bottom: 20%;

}